{% extends "accounts/main.html" %}
{% block content %}
<h2>userprofile</h2>
    <h2>CUSTOMER CONTACT INFO</h2>
    <table bgcolor="lightblue" border="3" width="50%">
        <thead>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date_Created</th>

        </thead>
        {% for i in cust %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.email}}</td>
                <td>{{i.date_created}}</td>
            </tr>

        {% endfor %}
    </table>
    <h2>CUSTOMER ORDER INFO</h2>
    <table bgcolor="lightblue" border="3" width="50%">
        <thead>
            <th>Product</th>
            <th>Category</th>
            <th>Date_Created</th>
            <th>Status</th>
        </thead>
        {% for i in orders %}
            <tr>
                <td>{{i.product}}</td>
                <td>{{i.product.category}}</td>
                <td>{{i.date_created}}</td>
                <td>{{i.status}}</td>
            </tr>
        {% endfor%}
    </table>

{% endblock %}